<!DOCTYPE html>
<html>
<head>
    <title>Кубок Сибири по горнолыжному спорту среди любителей и ветеранов}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> header}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
</body>
<html>