   
         <section class="champs">
            
        
        {{#each this.result}}
          <a class="champs_card" href='/champ/{{this.champ_id}}'>
          <div >{{this.name}} {{this.year}}</div>
          </a>
        {{/each}}
        
       
         </section>
       
